.flex {
	display: flex;
}
.fixed{
	position: fixed;
}
.page{
	min-height: 100vh;
}
.align-center {
	align-items: center;
}

.flex-center{
	justify-content: center;
}

.flex-between {
	justify-content: space-between;
}

.flex-around {
	justify-content: space-around;
}

.flex-colum {
	flex-direction: column;
}

.mrauto {
	margin: 0 auto;
}

.flex1 {
	flex: 1;
}

.flex-wrap {
	flex-wrap: wrap;
}


.bgf7 {
	background: #F7F7F7;
}

.bgf8{
	background: #F8F8F8;
}

.bd {
	border: 3px solid #000;
}

.bd2 {
	border: 2px solid #FFE671;
}

.ml14{
	margin-left: 14rpx;
}

.ml20{
	margin-left: 20rpx;
}

.ml30 {
	margin-left: 30rpx;
}

.mrr30 {
	margin-right: 30rpx;
}

.ml8 {
	margin-left: 8rpx;
}

.font20 {
	font-size: 20rpx;
}

.font22 {
	font-size: 22rpx;
}

.font24 {
	font-size: 24rpx;
}

.font26 {
	font-size: 26rpx;
}

.font28 {
	font-size: 28rpx;
}

.font30 {
	font-size: 30rpx;
}

.font32 {
	font-size: 32rpx;
}

.font36 {
	font-size: 36rpx;
}

.font40 {
	font-size: 40rpx;
}

.font56 {
	font-size: 56rpx;
}

.fontw700 {
	font-weight: 700;
}

.colorfff {
	color: #fff;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}

.mt172 {
	margin-top: 172rpx;
}

.px30 {
	padding-left: 30rpx;
	padding-right: 30rpx;
}

.mr150 {
	margin-right: 150rpx;
}

.mr30 {
	margin-left: 30rpx;
	margin-right: 30rpx;
}

.mrl10 {
	margin-left: 10rpx;
}

.mrl12 {
	margin-left: 12rpx;
}

.mrl22{
	margin-left: 22rpx;
}

.mrr14 {
	margin-right: 14rpx;
}

.mrr24 {
	margin-right: 24rpx;
}

.pdr24 {
	padding-right: 24rpx;
}

.pdr40{
	padding-right: 40rpx;
}

.mr14 {
	margin-left: 14rpx;
	margin-right: 14rpx;
}

.mx26 {
	margin-left: 26rpx;
	margin-right: 26rpx;
}

.mx30{
	margin-left: 30rpx;
	margin-right: 30rpx;
}

.mry30{
	margin-top: 30rpx;
	margin-bottom: 30rpx;
}

.pdy30{
	padding-top: 30rpx;
	padding-bottom: 30rpx;
}

.pdy40{
	padding-top: 40rpx;
	padding-bottom: 40rpx;
}

.pdx12 {
	padding-left: 12rpx;
	padding-right: 12rpx;
}
.pdx14{
	padding-left: 14rpx;
	padding-right: 14rpx;
}

.pdx20 {
	padding-left: 20rpx;
	padding-right: 20rpx;
}

.pdx30 {
	padding-left: 30rpx;
	padding-right: 30rpx;
}

.mrl50 {
	margin-left: 50rpx;
}

.bgfff {
	background: #fff;
}

.bdrd8{
	border-radius: 8rpx;
}

.bdrd14{
	border-radius: 14rpx;
}

.bdrd20 {
	border-radius: 20rpx;
}

.bdrd22 {
	border-radius: 22rpx;
}

.bdrd35 {
	border-radius: 35rpx;
}

.bdrd36 {
	border-radius: 36rpx;
}

.bdrd40{
	border-radius: 40rpx;
}

.bdrd30 {
	border-radius: 30rpx;
}

.bdrd32 {
	border-radius: 32rpx;
}

.bdrd12 {
	border-radius: 12rpx;
}

.bdrd18 {
	border-radius: 18rpx;
}

.bdrd50 {
	border-radius: 50%;
}

.mrr26 {
	margin-right: 26rpx;
}

.mrl24 {
	margin-left: 24rpx;
}

.text-align {
	text-align: center;
}

.inline {
	display: inline-block;
}

.col222 {
	color: #222;
}

.col333{
	color: #333;
}

.col555 {
	color: #555;
}
.col666{
	color: #666;
}

.col888 {
	color: #888;
}

.colfff {
	color: #fff;
}

.fontw400 {
	font-weight: 400;
}

.fontw500 {
	font-weight: 500;
}

.pd24 {
	padding: 24rpx;
}

.pd30 {
	padding: 30rpx;
}

.pdt20{
	padding-top: 20rpx;
}

.pdt24{
	padding-top: 24rpx;
}
.pdt30 {
	padding-top: 30rpx;
}

.pdl20{
	padding-left: 20rpx;
}

.pdlr30 {
	padding-left: 30rpx;
	padding-right: 30rpx;
}

.pdt34 {
	padding-top: 34rpx;
}

.pdb24 {
	padding-bottom: 24rpx;
}

.pdb28{
	padding-bottom: 28rpx;
}

.mrt8{
	margin-top: 8rpx;
}

.mrt10{
	margin-top: 10rpx;
}

.mrt12{
	margin-top: 12rpx;
}

.mrt14{
	margin-top: 14rpx;
}

.mrt16 {
	margin-top: 16rpx;
}

.mrt18{
	margin-top: 18rpx;
}

.mrt20 {
	margin-top: 20rpx;
}

.mrt22 {
	margin-top: 22rpx;
}

.mrt24 {
	margin-top: 24rpx;
}

.mrt26 {
	margin-top: 26rpx;
}
.mrt28{
	margin-top: 28rpx;
}

.mrt30 {
	margin-top: 30rpx;
}

.mrt32 {
	margin-top: 32rpx;
}
.mrt34{
	margin-top: 34rpx;
}
.mrt36{
	margin-top: 36rpx;
}

.mrb20 {
	margin-bottom: 20rpx;
}

.mrb56{
	margin-bottom: 56rpx;
}

.mr10 {
	margin-left: 10rpx;
	margin-right: 10rpx;
}

.mr14 {
	margin-left: 14rpx;
	margin-right: 14rpx;
}

.fontfa1 {
	font-family: Source Han Sans CN-Regular, Source Han Sans CN;
}

.fontfa2 {
	font-family: Source Han Sans CN-Medium, Source Han Sans CN;
}

text {
	padding: 0;
	margin: 0;
}

.border-box {
	box-sizing: border-box;
}

.overhiden {
	overflow: hidden;
}

.blcok {
	display: block;
}

.flex-row {
	flex-direction: row;
}

.clear:after {
	content: '';
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden
}
.mt50{
	margin-top: 50rpx;
}
.flex-end{
	justify-content: flex-end;
}
.flexDCR{
	flex-direction: column-reverse;
}